/*Colocamos una imagen de fondo al 'body' de nuestras páginas*/

body { background-image: url("../figuras/riahana.jpeg");
  background-repeat: repeat-y; }

/*Creamos la clase 'center' de forma que podamos centrar, por ejemplo, las tablas de nuestras páginas*/

.center{

	margin-left: auto;
	margin-right: auto;
}
left{

	margin-left: 50%;
	margin-right: 50%;
}

/*Le damos formato a los encabezados H*, párrafos y viñetas */
h1 {
  font-weight: bold;
  text-align: center;  
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #000;
  
}

h2 {

  font-weight: bold;
  text-align: left;  
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: Tomato	;

}

p, ul {

  font-family: Verdana, Helvetica, sans-serif;
  color: #000;
  font-size: 24px; 

}


/*Le damos formato a los pies de imagen*/
figcaption {text-align: center;}


/*Le damos formato a las imágenes*/
img {
  
  display: block;
  width: 100px;
  height: 100px;

}
table {
  width: 15px;
  height: 15px;
}
.navegacion {
  text-align: center;
  margin-bottom: 20px;
}

.navegacion table {
  display: inline-block;
  border-collapse: collapse;
  width: auto; /* Ajustar el ancho de la tabla al contenido */
}

.navegacion td {
  padding: 3px; /* Reducir el relleno de las celdas */
  border: none;
}

.navegacion-imagen {
  width: 200px; /* Reducir el ancho de las imágenes */
  height: 100px; /* Reducir la altura de las imágenes */
}
